


/*****Sidebar*****/

.wholeSidebar{
  position: relative;
  float: right;
  margin-right: 0px;
  margin-top: 0px;
  padding-top:10px;
  padding-left:0.9rem;
  

}

/*vertical bar*/



/*Search Bar*/
.inputContainer{
  padding-top:10px;
  padding-left:20px;
  
}
.labelSearch{
  font-size: 0.8rem;
  font-weight: 700;
  
}
.inputSearch{
  height: 1.6rem;
  opacity: 0.6;
  padding: 6px 10px ;
  width: 12rem;

  
  align-items: center;
}
.linkSearch{
  text-decoration: none;
  border: #5d2172 solid 1px;
  padding: 12px 10px;
  background-color: purple;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1em;
}
/*flex aboutAuthor = all headings and vertical for purple border*/
.aboutAuthor {
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 20px;

}
.vertical {
  border-left: 3px solid purple;
  height: 0.8rem;
}
.aboutHeading{
  margin: 0px;
  font-size: 0.81rem;
  padding-left: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

/*sidebarImage*/
.rajeevImage{
  height: auto;
  vertical-align: middle;
  max-width: 100%;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  padding-top: 10px;
  padding-left:20px;
  
}

/*Rajeev content below image(heading and subtitle)*/
.Rajeev{
  font-size: 0.9rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin: 16px 0 10px;
}
.innerhead{
  text-align: center;
  font-size: 13px;
}

/*newsletter content*/
.newsletter{
  padding-left:10px;
  font-size: 13px;
  padding-left:20px;
}

/*email box and join button*/

.btn1{
  margin-left: -65px;
 background-color: purple;
 color: white;

  text-transform: uppercase;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
}

/*image facebook*/
.facebook{
  padding-left: 20px;
  
  height: 50px;
  width: 50px;
}

/* All Recent post */
.blogContainer{
  margin-left:20px;
  padding: 10px 0px 10px;
}
.imgHead{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.thumbnail{
  width: 70px;
  height: 70px;
  padding: 10px 10px;
}
.blog_subtitle{
  font-size: 12px;
  font-weight: 200;
}
.blog_Head{
  font-size: 14px;
  font-weight: 700;
  
}
h2{
  font-weight: 600;
  color: #393838;
}
p{
  font-weight: 400;
}

body{
  font-family: 'Poppins', sans-serif;
  padding: 0;
}
.sideline {
  
  margin-right: 20px;
  padding-right: 20px;
}
  
 .container1 {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: 50px;
    margin-left: 30px;
    border-bottom: 1px solid rgb(204, 204, 204,0.6);
  }


  .image-container {
    flex: 1;
    margin-right: 25px;
    margin-left: 100px;
  }
  .image-container1 {
    flex: 1;
    margin-right: 25px;
    margin-left: 100px;
  }

  .image-container img {
    width: 360px;
    height: 220px;
    padding-bottom: 35px;
  }
  .image-container1 img {
    width: 360px;
    height: 220px;
    padding-bottom: 90px;
  }


  .text-container {
    flex: 3;
    margin-left: 20px;
    
    
  }
  
  .hr1{
    width: 100%;
    border-top:  1px solid rgb(204, 204, 204,0.6);;
  }
  
  .divider {
    border-left: 1px solid rgb(204, 204, 204,0.6);
    height:100%;
    position: absolute;
    left: 0.9%;
    
  }


.subtext {
    display: flex;
    justify-content: space-between;
   font-size: 12px;
   margin-top: 10px;
   margin-bottom: 25px;
    color: #777;
    margin-right: 12px;
  }

  .canedit b:hover{ 
    color: black;
  }

 

  .heading1 h3 , .heading2 h3{
    font-family:'Poppins',sans-serif;
    color: purple;
    font-size: small;
    font-weight: 700;
  }

  .heading1 h3:hover , .heading2 h3:hover {
    color: black;
  }

  .heading1, .heading2 {
    display: inline-block;
    margin: 0;
  }

  .textCont1 h2:hover , .textCont1 p:hover {
    color: purple;
  }

  .textCont1{
    font-size: large;
    font-weight: bolder;
  }

  .textCont2{
    font-size: 14px;
    margin-right: 25px;
    color:black;
    word-spacing: 5px;
    font-weight: 600;
    width: 100%;
  }

  /*button*/
  .button-container {
    display: flex;
    padding-left: 813px;
    padding-bottom: 48px;
  }
 

  .button {
    width: 40px;
    height: 40px;
    border: 1px solid #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    margin-right: 5px; 
    font-weight: 400; 
    border-radius: 2px;
  }

  .button:hover {
    background-color:  #F8F8F8;
  }

  .active {
    background-color:  #F8F8F8;
  }
